# - **<font color=DarkBlue>TASK 1<font>**

- **<font color=Darkgreen>Question No 1<font>**:
    Write a program which will find all such numbers which are divisible by 7 but are not a multiple
    of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
    comma-separated sequence on a single line

In [2]:
for i in range(2000,3200):
    if i%7==0 and i%5!=0:
        print(i,",")

2002 ,
2009 ,
2016 ,
2023 ,
2037 ,
2044 ,
2051 ,
2058 ,
2072 ,
2079 ,
2086 ,
2093 ,
2107 ,
2114 ,
2121 ,
2128 ,
2142 ,
2149 ,
2156 ,
2163 ,
2177 ,
2184 ,
2191 ,
2198 ,
2212 ,
2219 ,
2226 ,
2233 ,
2247 ,
2254 ,
2261 ,
2268 ,
2282 ,
2289 ,
2296 ,
2303 ,
2317 ,
2324 ,
2331 ,
2338 ,
2352 ,
2359 ,
2366 ,
2373 ,
2387 ,
2394 ,
2401 ,
2408 ,
2422 ,
2429 ,
2436 ,
2443 ,
2457 ,
2464 ,
2471 ,
2478 ,
2492 ,
2499 ,
2506 ,
2513 ,
2527 ,
2534 ,
2541 ,
2548 ,
2562 ,
2569 ,
2576 ,
2583 ,
2597 ,
2604 ,
2611 ,
2618 ,
2632 ,
2639 ,
2646 ,
2653 ,
2667 ,
2674 ,
2681 ,
2688 ,
2702 ,
2709 ,
2716 ,
2723 ,
2737 ,
2744 ,
2751 ,
2758 ,
2772 ,
2779 ,
2786 ,
2793 ,
2807 ,
2814 ,
2821 ,
2828 ,
2842 ,
2849 ,
2856 ,
2863 ,
2877 ,
2884 ,
2891 ,
2898 ,
2912 ,
2919 ,
2926 ,
2933 ,
2947 ,
2954 ,
2961 ,
2968 ,
2982 ,
2989 ,
2996 ,
3003 ,
3017 ,
3024 ,
3031 ,
3038 ,
3052 ,
3059 ,
3066 ,
3073 ,
3087 ,
3094 ,
3101 ,
3108 ,
3122 ,
3129 ,
3136 ,
3143 ,
3157 ,
3164 ,
3171 ,
3178 ,
3192 ,
3199 ,

- **<font color=Darkgreen>Question No 2<font>**:
Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.

In [3]:
first_name = input("please enter your first_name ")
last_name = input("please enter your last_name")
name = first_name+" "+last_name
rev = ""
for i in name:
    rev = i+rev
print("your full name in reverse order :",rev)

please enter your first_name kothapally
please enter your last_namesharath kumar
your full name in reverse order : ramuk htarahs yllapahtok

- **<font color=Darkgreen>Question No 3<font>**:
    Write a Python program to find the volume of a sphere with diameter 12 cm.
    Formula: V=4/3 * π * r3

In [4]:
def volume_of_sphere(diameter):
    r = diameter/2
    π = 22.7
    v = 4/3*(π)*(r**3)
    return v

In [5]:
# to find volume of the spehere with diamter use the below function diameter in "cms"
volume_of_sphere(12)

6537.599999999999

# - **<font color=DarkBlue>TASK 2<font>**

- **<font color=Darkgreen>Question No 1<font>**:
    Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.

In [6]:
numbers = input("please enter  numbers as comma separated :")
print(numbers.split(","))

please enter  numbers as comma separated :15,10,20,25,30,35,40,45,50
['15', '10', '20', '25', '30', '35', '40', '45', '50']

- **<font color=Darkgreen>Question No 2<font>**:
    Create the below pattern using nested for loop in Python.

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *

In [7]:
n =  int(input("please enter a number :"))
for i in range(n):
    for j in range(i):
        print("*",end=" ")
    print()
for i in range(n,0,-1):
    for j in range(i):
        print("*",end=" ")
    print()

please enter a number :5

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

- **<font color=Darkgreen>Question No 3<font>**:
Write a Python program to reverse a word after accepting the input from the user.
Sample Output:
Input word: AcadGild
Output: dilGdacA

In [8]:
string = input("please enter a string :")
def reverse_string(string):
    return string[::-1]
reverse_string(string)

please enter a string :AcadGild

'dliGdacA'

- **<font color=Darkgreen>Question No 4<font>**:

In [9]:
print("OUTPUT :","\n"
      "WE, THE PEOPLE OF INDIA, \n\thaving solemnly resolved to constitute India into a SOVEREIGN,\n\t\tSOCIALIST, SECULAR, DEMOCRATIC REPUBLIC  \n\t\t and to secure to all its citizens")

OUTPUT :
WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN,
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		 and to secure to all its citizens

# - **<font color=red>THANK YOU<font>**